/* this is for beaches */

body{
  background-image: url(bermuda.jpg);
  background-size: cover;
}

h1{
  font-family: 'Flamenco', cursive;
  font-size: 40px;
  text-align:center;
  color: #00A7A7; /*teal*/
}

p{
  color: #801515; /*red*/
  font-family: "Flamenco", cursive;
  font-size: 30px;
}

.one{
  text-align: left;
}

.two{
  text-align: center;
}

.three{
  text-align: right;
}
